html
  head
    title todo list
    style 
      include style.css
    
  body
    h1 колво задач #{name}
    p список задач 
    div
    input(type="text")
    button добавить задачу
    div
    button удалить задачу